/* 修改首页星星 */
.el-rate__icon {
    font-size: 0.12rem;
    margin-right: 0.03rem;
}

.el-rate__item {
    height: 0.12rem;
    padding: 0;
}

.el-rate__text {
    font-size: 0.09rem;
    color: #ff6000 !important;
}

/* 修改search搜索框 */
.lookfor {
    width: 2.85rem;
    height: 0.35rem;

}

.lookfor>input {
    width: 2.85rem;
    height: 0.35rem;
    background-color: #f2f2f2;

}

.lookfor>input::placeholder {
    color: #757575;
}
.score>.el-rate>.el-rate__item>.el-rate__icon{
    font-size: 0.15rem;
}
.el-rate{
    height: 1em;
}